{% extends "core/base.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if user.is_authenticated %}
<h1> You are logged as a {{ user }}</h1>
<h2>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}

<input type="submit" class="btn btn-primary" value="Logout" />
<input type="hidden" name="next" value="{{ next }}" />

</form>

</h2>
{% endif %}
{% if not user.is_authenticated %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" class="btn btn-primary" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endif %}
{% endblock %}
