<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>at Ilerio Def's</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="w-full">
{#    NAVBAR START#}
    <nav class="border-red-200 border-2 w-full flex ">
        <div class="leftnav border-blue-400 border-2 w-1/2 box">
            <div class="flex border-yellow-500 border-2 w-auto">LOGO</div>
        </div>
        <div class="rightnav border-green-400 border-2 w-1/2">
            Right NAV
        </div>
    </nav>
{#    NAVBAR END#}
</div>


TEST AND TEXT
{% block content %}

{% endblock %}


</body>
</html>