{% extends "menu/base.html" %}
{% load static %}


{% block content %}

    <h1>{{ item.name }}</h1>
    <h2>{{ item.description }}</h2>
    <div class="">
        <img class="img-fluid" src="{{ item.get_image_url }}">
    </div>
    {% with allergens=item.allergens.all %}
        {% if allergens %}
            <div class="">this item contains the following allergens: {{ allergens|join:", " }}</div>
        {% endif %}
    {% endwith %}
    <div class="">Calories per item: {{ item.calories }} Ccal.</div>
    <div>Price: ${{ item.price }}</div>
{% endblock %}
