{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
        
        <a  class="btn btn-outline-dark mt-1" href="{% url 'menu:all' %}">&#x2190; Back to menu</a>
        <br>
        <br>
        <table aria-describedby="table-order-total" class="table">
            <tr>
                <caption id="table-order-total">Order Total</caption>
            </tr>
            <tr>
                <th><h5>Items: <strong>{{order.get_order_items}}</strong></h5></th>
                <th><h5>Total:<strong> ${{order.get_order_total}}</strong></h5></th>
                <th><a  style="float:right; margin:5px;" class="btn btn-success" href="">Checkout</a></th>
                <th>
                    <br>
                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <div class="card">
                            <h5 class="">Please be advised that your order contains following allergens:</h5>
                            <h5 class="mb-0 flex text-uppercase w-auto">
                                <strong>
                                {{ order.get_order_allergens | join:", "}}
                                </strong>
                            </h5>
                        </div>
                    </div>
                </th>
            </tr>
        </table>
        
        </div>
    
    
    <div class="row-cols-auto">
        <div class="row">
            <div style="flex:2"></div>
            <div style="flex:2"><strong>Item</strong></div>
            <div style="flex:1"><strong>Price</strong></div>
            <div style="flex:1"><strong>Quantity</strong></div>
            <div style="flex:1"><strong>Total</strong></div>
        </div>
        {% for product in products %}
        <div class="row">
            <div style="flex:2"><img class="img-thumbnail card-img-top rounded-3 bg-body-secondary" src="{{product.item.get_image_url}}" alt="{{ product.product.name }}"></div>
            <div style="flex:2"><p>{{product.item.name}}</p></div>
            <div style="flex:1"><p>${{product.item.price}}</p></div>
            <div style="flex:1" class="inline">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">
                    <a class="chg-quantity update-cart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                        </svg>
                    </a>
                </button>
                <button type="button" class="btn btn-secondary" disabled>{{ product.quantity }}</button>
                <button type="button" class="btn btn-secondary">
                    <a class="chg-quantity update-cart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                        </svg>
                    </a>
                </button>
            </div>
            
            </div>
            <div style="flex:1"><p>${{product.get_total}}</p></div>
        </div>
        <br>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock content %}
